@model _2FA.Data.Entities.BankDepositStructureEntity

@{
    ViewData["Title"] = "Delete";
}

<div style="text-align: center;">
    <h2>Eliminar Estructura de Depósito Bancario</h2>
</div>

<div class="m-0 row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <card-header>
                <div class="p-3">
                    <a title="Regresar" class="btn-action" asp-action="Index"><i class="fa-solid fa-left-long"></i></a>
                </div>
            </card-header>
            <div class="card-body">
                <h3>¿Está seguro de que desea eliminar esta estructura?</h3>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.StructureName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.StructureName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BankDepositType)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BankDepositType)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FileType)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FileType)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>